body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    background-image: url("../images/LiceuNacional.jpg");
    background-size: cover;
    background-position: center;
    background-position-y: 100%;
    filter: blur(9px);
    z-index: -1;
    height: 100vh;
}

p{
    text-align: justify;
}


#aboutButtonContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    height: 76vh;
    flex-wrap: wrap;
    column-gap: 2em;
}
.aboutButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 16.5%;
    min-width: 165.8px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.aboutButton:hover{
    box-shadow: 0px 0px 5px white;
}
#history{
    background-image: url("../images/oldliceu.jpeg");
}
#location{
    background-image: url("../images/LiceuLocation.png");
}
#history h2{
    color: white;
}
#country{
    background-image: url("../images/Country.jpeg");
}
