

.register-block{
    justify-content: space-between;
}
.confirmation-section{
    justify-content: center;
    column-gap: 1em;
}
.register-block, .confirmation-section{
    display: flex;
    width: 100%;
    align-items: center;
}


#barForLogin{
    bottom: -5.5px;
}
#loginButtonForm{
    font-size: 1.3em;
    padding: 50px 25px;
}
.form-questions{
    font-size: 1.3em;
}
#register-button{
    padding: 10px 18px;
    font-size: 1.3em;
}
#form-title{
    text-align: center;
    font-size: 1.6em;
}
#optionToRegister{
    display: flex;
    justify-content: space-evenly;
}
#barForRegister{
    bottom: -5.5px;
}
#loginButtonForm{
    padding: 10px 25px;
}
.login-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
body{
    background-image: url("../images/LiceuNacional2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(9px);
    background-position-y: 100%;
    height: 100vh;
}