

#myCoursesHeader{
    font-size: 0.82em;
    color: #ffffff;
    background-color: #a09e9e;
    margin-bottom: 2vh;
    text-shadow: 0px 0px 2px rgb(139, 133, 133);
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#allCourses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.course{
    border: 2px solid #38b6ff;
    box-shadow: 0px 0px 2px hsl(202, 63%, 32%);
    margin: 2%;
    min-width: 200px;
    min-height: 200px;
    border-radius: 35px;
}
.courseImage{
    height: 35%;
    border-top-right-radius: 50px;
    border: 5px 80px;
}
.courseInfo{
   border-top: 2px solid #38b6ff;
}
.courseTitle{
    font-size: 0.9em;
    text-align: center;
    color: #38b6ff;
    padding: 8% 0%;
}
.courseDetails{
    font-size: 0.85em;
    text-align: left;
    padding: 0 8%;
}