
.registerForm{
    display: flex;
    flex-direction: column;
    width: 55%;
    min-height: 40vh;
    max-width: 400px;
    row-gap: 1.5em;
    margin: auto;
    background-color: #dbd8d8;
    border-radius: 25px;
    padding: 40px;
}
#formTitle{
    margin: auto;
}
#optionToRegister{
    display: flex;
    justify-content: space-around;
}
.oneOption{
    display: inline;
}
.formLabel{
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 20px;
}
.formBox{
    width: 100%;
    height: 45%;
    border: none;
    border-radius: 10px;
    background-color: #38b6ff;
    margin-top: 10px;
}
.formBox::placeholder{
    color:#dbd8d8;
    padding-left: 20px;
}
#formLogin{
    margin: auto;
    justify-self: center;
}
.formQuestions{
    font-size: 1.1em;
}
#registerBlock{
    display: grid;
    justify-content: end;
    align-items: center;
}
#barForRegister{
    bottom: -5px;
}
#loginButtonForm{
    padding: 10px 25px;
    font-size: 1em;
}
#registerButton{
    background-color: #737373;
    padding: 10px 18px;
    font-size: 0.9em;
    position: relative;
}
.nextButton{
    background-color: #38b6ff;
    padding: 10px 18px;
    font-size: 0.9em;
    position: relative;
}