@import "style.css";

#helloMessage{
    margin-bottom: 20px;
}
/* For the dropdown settings*/
#settings:hover{
    opacity: 0.8;
    cursor: pointer;
}
#settingsBox{
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    border-radius: 20px;
    animation: slideDown 1s;
    margin-bottom: 30px;
}
#settingTitle{
    padding: 20px;
}
#optionTable{
    width: 100%;
    text-align: left;
}
.settingOption{
    text-align: center;
    font-size: 0.8em;
    border-top: 2.5px solid white;
    padding: 2%;
}
.settingOption h3{
    padding: 2%;
    padding-left: 4%;
}
.settingOption:hover{
    opacity: 0.8;
    cursor: pointer;
}
#settingContent{
    text-align: center;
    width: 75%;
    border-left: 2.5px solid white;
    margin-left: 0px;
}
#contentBox{
    background-color: hsl(0, 0%, 95%);
    justify-content: space-evenly;
    min-height: auto;
    width: auto;
    row-gap: 0em;
}
.settingButton{
    align-self: flex-end;
}
.settingsQuetions, .warningSentences{
    align-self: center;
}
.cancelButton{
    background-color: #e8e8e8;
    color: black;
}
.warningSentences{
    font-size: 0.9em;
    margin-bottom: 0.7em;
}
.activeOption{
    padding: 5px;
    background-color: #d4a391;
    color: white;
    border-radius: 5em;
    transition: background-color 0.8s ease;
}
