@import "style.css";

#helloMessage{
    margin-bottom: 20px;
}
/* For the dropdown settings*/
#settings:hover{
    opacity: 0.8;
    cursor: pointer;
}
#settingsBox{
    width: 80%;
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    border-radius: 20px;
    animation: slideDown 1s;
    margin: 2vh auto;
}
#settingTitle{
    padding: 20px;
    font-size: 2em;
}
#optionTable{
    width: 100%;
    min-height: 42vh;
}
.settingOption{
    text-align: center;
    border-top: 2.5px solid white;
    padding: 1%;
    font-size: 1.2em;
}
.settingOption h3{
    padding: 1%;
    padding-left: 4%;
}
.settingOption:hover{
    opacity: 0.8;
    cursor: pointer;
}
#settingContent{
    text-align: center;
    width: 75%;
    border-left: 2.5px solid white;
}
#contentBox{
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: hsl(0, 0%, 95%);
    min-height: auto;
    width: 70%;
    margin: auto;
}
#contentBox .form-label{
    font-size: 1.2em;
    align-self: flex-start;
}
#contentBox .form-box{
    font-size: 1em;
}
.settingButton{
    align-self: flex-end;
}
#contentBox .settings-questions, .warningSentences{
    align-self: center;
}
.cancel-button{
    background-color: #e8e8e8;
    color: black;
}
.warningSentences{
    font-size: 1em;
    margin-bottom: 0.7em;
}
.activeOption{
    padding: 5px;
    background-color: #d4a391;
    color: white;
    border-radius: 5px;
    transition: background-color 0.8s ease;
}
