@charset "UTF-8";
*{
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    opacity: 0.8;
}
hr{
    border: none;
}
button{
    font-size: 0.8em;
    border: 0px;
    border-radius: 50px;
    padding: 8% 15px;
    font-weight: bold;
    color: white;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.topBar{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-content: center;
    justify-content: space-between;
    justify-self: center;
    width: 100%;
    height: 4vh;
    padding-top: 2vh;
    background-color: white;
    opacity: 0.9;
}
#siteTitle{
    color: #38b6ff;
    padding-left: 60px;
    font-size: 1.75em;
}
#topButtons{
    display: flex;
    column-gap: 2em;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
}
#topButtons h2{
    font-size: 1em;
    margin-bottom: 0px;
}
.loginButton{
    background-color: #38b6ff;
    margin: auto;
}
#dividingBar{
    height: 3px;
    width: 96%;
    background-color: #737373;
    opacity: 0.7;
    margin: auto;
}
.indicatingBar{
    width: 1.9em;
    height: 4.5px;
    background-color: #38b6ff;
    position: relative;
    bottom: -10px;
    margin: auto;
    animation: indicator 0.5s;
}
/* For the dropdown settings*/
#settings:hover{
    opacity: 0.8;
    cursor: pointer;
}
#settingsBox{
    width: 100%;
    background-color: #dbd8d8;
    text-align: center;
    border-radius: 20px;
}
#settingTitle{
    padding: 20px;
}
#optionTable{
    width: 100%;
    text-align: left;
}
.settingOption{
    text-align: center;
    font-size: 0.8em;
    border-top: 2.5px solid white;
    padding: 2%;
    padding-left: 4%;
}
.settingOption:hover{
    opacity: 0.8;
    cursor: pointer;
}
#settingContent{
    text-align: center;
    width: 75%;
    border-left: 2.5px solid white;
    margin-left: 0px;
}
@keyframes indicator {
    from{
        transform: scale(0);
    }
}

main{
    width: 80vw;
    margin: auto;
    text-align: justify;
    padding-top: 15vh;
}