@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    opacity: 0.8;
}
hr{
    border: none;
}
button{
    font-size: 0.8em;
    border: 0px;
    border-radius: 50px;
    padding: 8% 15px;
    font-weight: bold;
    color: white;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.topBar{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-content: center;
    justify-content: space-between;
    justify-self: center;
    width: 100%;
    height: 4vh;
    padding-top: 2vh;
    background-color: white;
    opacity: 0.9;
}
#siteTitle{
    color: #38b6ff;
    padding-left: 60px;
    font-size: 1.75em;
}
#topButtons{
    display: flex;
    column-gap: 2em;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
}
#topButtons h2{
    font-size: 1em;
    margin-bottom: 0px;
}
.loginButton{
    background-color: #38b6ff;
    margin: auto;
}
#dividingBar{
    height: 3px;
    width: 96%;
    background-color: #737373;
    opacity: 0.7;
    margin: auto;
}
.indicatingBar{
    width: 1.7em;
    height: 4.5px;
    background-color: #38b6ff;
    position: relative;
    bottom: -10px;
    margin: auto;
    animation: indicator 0.5s;
}
@keyframes indicator {
    from{
        transform: scale(0);
    }
}
@keyframes slideDown {
    from{
        transform: translateY(-6vh);
    }
}

main{
    width: 80vw;
    margin: auto;
    text-align: justify;
    padding-top: 15vh;
}

main img{
    display: flex;
    align-items: flex-start;
    margin: auto;
}
img{
    border-radius: 5%;
}

.foto{
    display: flex;
    align-items: flex-start;
    margin: auto;
}

.infos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 140, 255);
}

.extra_contents{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1em;
    padding: 10px;
}

.extra_contents img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}