@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* General Description */
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Nunito", sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    opacity: 0.8;
}
hr{
    border: none;
}
button{
    font-size: 1.2em;
    border: 0px;
    border-radius: 50px;
    padding: 8% 15px;
    font-weight: bold;
    color: white;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}
h1{
    font-family:"Noto Sans JP", sans-serif;
    font-weight: 700;
}
/* Navigation and top bar */
.topBar{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-content: center;
    justify-content: space-between;
    justify-self: center;
    width: 80vw;
    opacity: 0.9;
    backdrop-filter: blur(5px);
}
#siteTitle{
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    padding-left: 60px;
    font-size: 3em;
}
#topButtons{
    display: flex;
    column-gap: 1em;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
}
#topButtons h2{
    font-size: 1.5em;
    margin-bottom: 0px;
    font-family:"Noto Sans JP", sans-serif;;
    font-weight: bold;
}
.loginButton{
    background-color: #d4a391;
    margin: auto;
}
#dividingBar{
    height: 3px;
    width: 96%;
    background-color: black;
    opacity: 0.7;
    margin: auto;
}
.indicatingBar{
    position: relative;
    width: 3em;
    height: 8px;
    background-color: #d4a391;
    top: 2.5vh;
    margin: auto;
    animation: indicator 0.5s;
}

/* Body */
.main{
    width: 80vw;
    margin: auto;
    text-align: center;
    padding-top: 15vh;
    font-size: 1.2em;

}

/* Forms*/
.siteForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 40vh;
    min-width: 300px;
    width: 45%;
    max-width: 400px;
    margin: auto;
    background-color: #dbd8d8;
    border-radius: 25px;
    padding: 40px;
    text-align: left;

}
.formLabel{
    font-size: 1.35em;
    font-weight: bold;
    padding-left: 3%;
}
.formBox{
    width: 95%;
    border: none;
    border-radius: 10px;
    background-color: #d4a391;
    margin-bottom: 10px;
    padding: 4%;
    padding-left: 25px;
    font-size: 0.9em;
    color: white;
}
.formBox:focus{
    outline: none;
    box-shadow: 0px 0px 3px white;
}
.formButton{
    background-color: #d4a391;
    padding: 10px 18px;
    font-size: 1.3em;
}
.registerBlock{
    justify-content: space-between;
}
.confirmationSection{
    justify-content: center;
    column-gap: 1em;
}
.registerBlock, .confirmationSection{
    display: flex;
    width: 100%;
    align-items: center;
}
/* Home images */

/* Animation */
@keyframes indicator {
    from{
        transform: scale(0);
    }
}
@keyframes slideDown {
    from{
        transform: translateY(-6vh);
    }
}